body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../public/v1016-b-09.jpg') no-repeat;
    background-size: cover;
    cursor: url('../public/icons8-3d-pointer-48.png'), auto;
}